---
description: AMP letter
---
<!doctype html>
<html lang="en">

	<head>
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<title>AMP letter</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="robots" content="nofollow" />

			<link rel="stylesheet" href="style.css">
	</head>

	<body>

		<header>
			<div class='container'>
				<svg class='main-logo' width="61" height="60" viewBox="0 0 61 60">
					<g fill="#CE495F" fill-rule="evenodd"><path d="M40.674 27.253L27.968 48.196h-2.302l2.276-13.647-7.048.01h-.1c-.633 0-1.148-.51-1.148-1.137 0-.27.254-.727.254-.727l12.664-20.92 2.34.01-2.332 13.668 7.084-.008.112-.002c.635 0 1.15.51 1.15 1.14 0 .254-.1.478-.245.668zM30.288 0C13.56 0 0 13.432 0 30 0 46.57 13.56 60 30.288 60c16.73 0 30.29-13.431 30.29-30 0-16.568-13.56-30-30.29-30z"/></g>
				</svg>
				<h1 lang='en'>A letter about Google AMP</h1>
				<h1 lang='fr'>Une lettre sur Google AMP</h1>
				<h1 lang='ja'>Google AMPに関する公開書簡</h1>
				<h1 lang='es'>Una carta sobre Google AMP</h1>
				<h1 lang='ru'>Открытое письмо о Google AMP</h1>
				<h1 lang='pt-br'>Uma carta sobre Google AMP</h1>
				<h1 lang='de'>Ein Brief über Google AMP</h1>
				<h1 lang='vi'>Một bức thư về Google AMP</h1>
				<h1 lang='pl'>List o Google AMP</h1>
			</div>
		</header>

		<main>
			<article class='container' lang='en'>

				<p>We are a community of individuals who have a significant interest in the development and health of the World Wide Web (“the Web”), and <strong>we are deeply concerned</strong> about <a href='https://ampproject.org'>Accelerated Mobile Pages</a> (“AMP”), a Google project that purportedly seeks to improve the user experience of the Web.</p>

				<p>In fact, AMP keeps users within Google’s domain and diverts traffic away from other websites for the benefit of Google.  At a scale of billions of users, this has the effect of further <strong>reinforcing Google’s dominance of the Web</strong>.</p>

				<p>We acknowledge the problem of Web pages being slow to load, relative to alternative, proprietary technologies such as <a href='https://instantarticles.fb.com/'>Facebook Instant Articles</a> and <a href='https://developer.apple.com/news-publisher/'>Apple News</a>.  Publishers (especially in news media) have long faced difficult choices and poor incentives, leading to bad decisions and compromises, and ultimately to terrible user experiences.</p>

				<p>Search engines are in a powerful position to wield influence to solve this problem. However, Google has chosen to create a premium position at the top of their search results (for articles) and a “lightning” icon (for all types of content), which are only accessible to publishers that use a Google-controlled technology, served by Google from their infrastructure, on a Google URL, and placed within a Google controlled user experience. (<a href='https://developers.google.com/search/docs/guides/about-amp'>source</a>)</p>

				<p>The AMP format is not in itself, a problem, but two aspects of its implementation reinforce the position of Google as a de facto standard platform for content, as Google seeks to drive uptake of AMP with content creators:</p>

				<ol>
					<li>Content that “opts in” to AMP and the associated hosting within Google’s domain is granted preferential search promotion, including (for news articles) a position above all other results.</li>
					<li>When a user navigates from Google to a piece of content Google has recommended, they are, unwittingly, remaining within Google’s ecosystem.</li>
				</ol>

				<p>If Google’s objective with AMP is indeed to improve user experience on the Web, then we suggest some simple changes that would do that while still allowing the Web to remain dynamic, competitive and consumer-oriented:</p>

				<ol>
					<li>Instead of granting premium placement in search results only to AMP, provide the same perks to all pages that meet an objective, neutral performance criterion such as <a href='https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/metrics/speed-index'>Speed Index</a>.  Publishers can then use any technical solution of their choice.</li>
					<li>Do not display third-party content within a Google page unless it is clear to the user that they are looking at a Google product.  It is perfectly acceptable for Google to launch a “news reader”, but it is not acceptable to display a page that carries only third party branding on what is actually a Google URL, nor to require that third party to use Google’s hosting in order to appear in search results.</li>
				</ol>

				<p>We don’t want to stop Google’s development of AMP, and these changes do not require that.  We also applaud search engines that give ranking preference to fast-loading pages.  AMP can remain one of a range of technologies that give publishers high quality options for delivering Web pages quickly and making users happy.</p>

				<p>However, publishers should not be compelled by Google’s search dominance to put their content under a Google umbrella.  <strong>The Web is not Google, and should not be just Google.</strong></p>

				<p style='text-align: right'><em>9 January 2018</em></p>

				<hr />

				<p>Sincerely,</p>

				{% capture sigs %}
					{% for person in site.data.original %}
						|||<!--{{ person[1].sortName | downcase }}--><li><a href='{{ person[1].url }}'>{{ person[1].displayName }}</a></li>
					{% endfor %}
				{% endcapture %}
				{% assign sigsSorted = sigs | split: "|||" | uniq | sort %}

				<h2>Original signatories ({{ sigsSorted | size | minus: 1 }})</h2>
				<ul class='signatories'>
					{{ sigsSorted }}
				</ul>

				{% capture sigs %}
					{% for person in site.data.supporting %}
						|||<!--{{ person[1].sortName | downcase }}--><li><a href='{{ person[1].url }}'>{{ person[1].displayName }}</a></li>
					{% endfor %}
				{% endcapture %}
				{% assign sigsSorted = sigs | split: "|||" | uniq | sort %}

				<h2>Supporting signatories ({{ sigsSorted | size | minus: 1 }})</h2>
				<ul class='signatories smaller-text'>
					{{ sigsSorted }}
				</ul>

				{% capture sigs %}
					{% for org in site.data.orgs %}
						|||<!--{{ org[1].name | downcase }}--><li>{{ org[1].representativeName }} for <a href='{{ org[1].url }}'>{{ org[1].name }}</a></li>
					{% endfor %}
				{% endcapture %}
				{% assign sigsSorted = sigs | split: "|||" | uniq | sort %}

				<h2>On behalf of organisations ({{ sigsSorted | size | minus: 1 }})</h2>
				<ul class='signatories'>
					{{ sigsSorted }}
				</ul>

				<p class='note'>Signatories are listed in alphabetical order of family name.  If you would like to sign this letter please make a <a href='https://github.com/amp-letter/amp-letter'>pull request</a>.</p>
			</article>

			<article class='container' lang='fr'>

				<p>Nous sommes une communauté d’individus ayant un intérêt particulier pour le développement et la bonne santé du World Wide Web (“le Web”), et sommes fortement préoccupés par les “Accelerated Mobile Pages” (AMP), un projet de Google qui prétend vouloir améliorer l’expérience utilisateur sur le web.</p>

				<p>En réalité, AMP enferme les utilisateurs et utilisatrices dans l’espace de Google en reroutant le trafic des autres sites au profit de Google. À l’échelle de milliards d’utilisateurs et d’utilisatrices, cela renforce la position déjà largement dominante de Google sur le web.</p>

				<p>Nous reconnaissons le problème de la lenteur de chargement des pages sur le web, par rapport à d’autres technologies propriétaires telles que Facebook Instant Articles et Apple News. Dans le but de maximiser leurs recettes, les éditeurs de contenu (particulièrement la presse) ont depuis toujours dû faire face à de mauvais choix et des incitations fallacieuses qui ont mené à des décisions qui leur sont nuisibles ainsi qu’aux utilisateurs et utilisatrices qui souffrent d’une mauvaise expérience d’utilisation.</p>

				<p>Les moteurs de recherche se trouvent dans une position privilégiée pour exercer leur influence dans la résolution de ce problème. En revanche, Google en a profité pour créer un placement préférentiel en haut des pages de résultats pour les articles et une icône “éclair” pour tous types de contenus, uniquement accessibles aux éditeurs qui utilisent une technologie contrôlée par Google, servie par Google via leur infrastructure, sur une adresse web (URL) Google, et insérée dans une expérience utilisateur contrôlée par Google.</p>

				<p>Le format AMP n’est pas un problème en soi, mais deux aspects de sa mise en œuvre renforcent la position de Google en tant que standard de facto pour la création et l’hébergement de contenu, à mesure que Google promeut AMP auprès de ceux qui en produisent:</p>

				<ol>
					<li>Tout contenu qui choisit de supporter AMP ainsi que l’hébergement affilié sous le domaine Google acquiert une promotion privilégiée dans les résultats de recherche, y compris (pour les articles) un placement au dessus des autres résultats.</li>
					<li>Les utilisateurs et utilisatrices naviguant depuis Google vers un contenu recommandé par Google restent, sans le savoir, dans l’enceinte de l’écosystème Google.</li>
				</ol>

				<p>Si l’objectif de Google avec AMP est réellement d’améliorer l’expérience utilisateur sur le web, alors nous suggérons de simples changements qui serviraient cette cause tout en permettant au web de rester dynamique, compétitif et tourné vers les consommateurs:</p>

				<ol>
					<li>Au lieu de réserver un placement préférentiel pour les seuls contenus AMP dans les résultats de recherche, il suffirait de procurer des privilèges similaires à toute page qui satisferait à des critères de performance neutres et objectifs, comme, par exemple, le Speed Index. Les éditeurs pourront ainsi utiliser la solution technique de leur choix.</li>
					<li>Ne pas intégrer de contenus tiers externes dans une page Google, à moins qu’il ne soit clair pour l’utilisateur ou l’utilisatrice d’avoir affaire à un produit Google. Il est parfaitement acceptable que Google lance un “lecteur de nouvelles”, mais il n’est ni acceptable de servir une page n’affichant que du contenu tiers depuis une URL de Google, ni d’obliger le tiers à utiliser l’hébergement de Google pour apparaître dans les résultats de recherche.</li>
				</ol>

				<p>Nous ne cherchons pas à stopper le développement de AMP par Google, et ces changements ne le requièrent pas. Aussi, nous approuvons la promotion par les moteurs de recherche des pages performantes. AMP peut demeurer l’une des technologies qui donnent aux éditeurs le choix entre une variété d’options de grande qualité afin de servir des pages Web rapidement et de rendre leur utilisation plus satisfaisante.</p>

				<p>Cependant, les éditeurs ne devraient pas être contraints, par la domination de Google parmi les moteurs de recherche, à mettre leur contenu sous l’égide de Google. Le Web n’est pas Google à lui seul, et ne devrait pas se réduire uniquement à Google.</p>

				<p>Sincèrement,</p>

				<p class='note'>For signatories please refer to the <a href='?lang=en' data-langswitch='en'>English version</a>.  Translations are provided for information but should not be considered normative.</p>

			</article>

			<article class='container' lang='pl'>

				<p>Jesteśmy społecznością osób, którym nie jest obojętny rozwój i stan światowej sieci internetowej oraz wyrażamy <strong>głęboki niepokój</strong> w związku z technologią <a href='https://ampproject.org/'>Accelerated Mobile Pages</a> („AMP” – Przyśpieszone Mobilne Strony Internetowe). AMP to projekt, który rzekomo ma na celu poprawę wygody użytkowników podczas korzystania z sieci internetowej.</p>
				
				<p>Tymczasem AMP zatrzymuje użytkowników wewnątrz domeny Google oraz przechwytuje ruch z innych stron internetowych na rzecz Google. W skali miliardów użytkowników jest to działanie, które <strong>jeszcze bardziej umocni dominującą pozycję Google w sieci internetowej</strong>.</p>
				
				<p>Zdajemy sobie sprawę z problemu powolnego ładowania się witryn internetowych, zwłaszcza w porównaniu do własnościowych rozwiązań takich jak <a href='https://instantarticles.fb.com/'>Facebook Instant Articles</a> i <a href='https://developer.apple.com/news-publisher/'>Apple News</a>. Wydawcy treści (zwłaszcza w sektorze mediów informacyjnych) od dawna zmagają się z trudnymi wyborami i niesłusznymi pobudkami, co prowadzi do złych decyzji i kompromisów, a te z kolei skutkują pogorszeniem wygody użytkowników.</p>
				
				<p>Wyszukiwarki są w uprzywilejowanej pozycji, dzięki której mogą mieć wpływ na rozwiązanie tego problemu. Jednakże Google zdecydowało się stworzyć wyróżniającą się pozycję na samej górze wyników wyszukiwania (dla artykułów) oraz dodawać specjalną ikonę <i>błyskawicy</i> (dla pozostałych treści), ale tylko dla wydawców korzystających z technologii kontrolowanej przez Google, udostępnianej przez Google w ramach ich infrastruktury, w obrębie adresu URL Google oraz wewnątrz interfejsu stworzonego przez Google (<a href='https://developers.google.com/search/docs/guides/about-amp'>źródło</a>).</p>
				
				<p>Idea AMP nie jest sama w sobie problematyczna, ale dwa aspekty jej implementacji umacniają Google na pozycji <i>de facto</i> standardowej platformy udostępniającej treść w sieci internetowej, zwłaszcza że Google próbuje zwiększyć użycie AMP:</p>
				
				<ol>
					<li>Treść, która dostępna jest wewnątrz AMP (a tym samym wewnątrz domeny Google), otrzymuje dodatkową promocję w ramach wyników wyszukiwania, w tym najwyższą pozycję dla artykułów informacyjnych;</li>
					<li>kiedy użytkownik decyduje się na odwiedzenie witryny z treścią promowaną przez Google, bezwolnie pozostaje wewnątrz ekosystemu Google.</li>

				</ol>
				
				<p>Jeżeli poprawa wygody użytkowników sieci internetowej jest prawdziwym celem AMP, pragniemy zaproponować kilka prostych zmian, które na to pozwolą, a jednocześnie nie zagrożą dynamice i konkurencyjności sieci internetowej oraz zapewnią, że pozostanie skierowana przede wszystkim na potrzeby użytkownika:</p>
				
				<ol>
					<li>Zamiast w szczególny sposób promować w ramach wyników wyszukiwania witryny internetowe wykorzystujące AMP, zacznijcie w taki sam sposób traktować wszystkie strony, które będą spełniać wybrane obiektywne i neutralne kryterium wydajności, takie jak <a href='https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/metrics/speed-index'>Speed Index</a>. Wówczas wydawcy treści będą mogli skorzystać z dowolnie wybranego przez nich rozwiązania technicznego;</li>
					<li>nie wyświetlajcie treści innych podmiotów w ramach swojej własnej witryny, jeżeli fakt używania produktu Google nie jest oczywisty dla użytkownika. Google może oczywiście uruchomić <em>czytnik aktualności</em>, ale niedopuszczalne jest wyświetlanie witryn z markami innych podmiotów w ramach adresu URL Google, niedopuszczalne jest także wymaganie od innych podmiotów, aby używały hostingu Google w celu pojawienia się w ramach wyników wyszukiwania.</li>
				</ol>
				
				<p>Nie chcemy zatrzymywać dalszego rozwoju AMP, a proponowane przez nas zmiany tego nie wymagają. Pochwalamy także wyszukiwarki, które premiują witryny internetowe zoptymalizowane do szybkiego wyświetlania. AMP może pozostać jedną z wielu technologii, które pozwolą wydawcom treści tworzyć szybsze strony internetowe i spełniać oczekiwania swoich użytkowników.</p>
				
				<p>Jednakże wydawcy treści nie powinni być zmuszani przez dominację wyszukiwarki Google do tego, aby umieszczać swoją treść pod parasolem Google. <strong>Sieć internetowa to nie tylko Google i nie powinna ona być tylko Google</strong>.</p>
				
				<p>9 stycznia 2018</p>
				
				<p>Z poważaniem,</p>
				
				<p class='note'>Sygnatariusze znajdują się w <a href='?lang=en' data-langswitch='en'>angielskiej wersji tego listu</a>. Tłumaczenia są dostępne w celach informacyjnych i nie powinny być uważane za normatywne.</p>

			</article>

			<article class='container' lang='ja'>

				<p>私たちはワールド・ワイド・ウェブにおける健全さと発展に関して大いに関心を持っている個人達であり、私たちは、ウェブにおけるユーザ体験を向上させる、と喧伝しているGoogleのプロジェクト、AMP(Accelerated Mobile Pages)に対して深い憂慮を抱いています。</p>

				<p>実際にAMPはGoogleのドメイン内にユーザを留め、Googleの利益のためにトラフィックを他のウェブサイトから迂回させています。数十億のユーザを有するGoogleにおいて、そうすることは、より完全なウェブの独占を推し進めることと同義と言えるでしょう。</p>

				<p>Facebookのインスタント・アーティクルやAppleニュースなどのような独自の技術と比べ、ウェブページの読み込みが遅いという問題は確かに存在しています。パブリッシャーは(特に報道メディアにおいては)難しい選択と不十分なインセンティブに長い間直面しており、売上げを最大化するために間違った意志決定や妥協をし、最終的には酷いユーザ体験を提供することになってしまっています。</p>

				<p>検索エンジンはこの問題の解決に対して影響を与える強大なポジションを有しています。しかし、GoogleはGoogleがコントロールするユーザ体験の中、GoogleのURLで、Googleが所有するインフラから、Googleが有する技術を利用したパブリッシャーに対してのみ、その検索結果で記事に対して、よりよい表示場所を提供し、またそれ以外のコンテンツには特別なアイコンを表示させるという方法をとっています。(参照)</p>

				<p>AMPのフォーマットそれ自体は問題ではなく、AMPの利用率が上がるにつれ、その実装のうち以下の2点がGoogleのコンテンツプラットフォームとしてのポジションをデファクト・スタンダード化することにつながっています。</p>

				<ol>
					<li>AMPの利用を”選択”し、Googleのドメインでホストされたコンテンツは検索結果において優先的なプロモーションが許され、ニュースコンテンツにおいてはほかの検索結果よりも上位に表示される点</li>
					<li>ユーザがGoogleが推奨するコンテンツへページ遷移した際、ユーザは気がつかないうちにGoogleのエコシステム内に留まっている点</li>
				</ol>

				<p>AMPにおけるGoogleの目標が純粋にウェブのユーザ体験を向上させる事に向けられているなら、以下のシンプルな変更を行うことでウェブをダイナミックで、競争原理の働く、利用者を中心としたままにすることができるでしょう。</p>

				<ol>
					<li>AMPにのみ検索結果での優遇的ポジションを提供するのではなく、Speed Indexのような中立的なパフォーマンス評価を使って同等の目標を達していると判断できる全てのページに対して、同じ処遇を提供するべきだと考えています。そうすることでパブリッシャーは各自の技術的選択をが可能になります</li>
					<li>ユーザが明確にGoogleのプロダクトを閲覧していると分かる形でなければ、Googleのページ内に第三者のコンテンツを表示させない。Googleが「ニュースリーダー」を提供することにはなんら問題はありませんが、GoogleのURLであるにも関わらず、第三者のブランディングを表示することや、第三者がGoogleによるホスティングを行わない限り検索結果で上位に表示されない、といったことは受け入れがたい</li>
				</ol>

				<p>Googleに対しAMPの開発を辞めて欲しいと提案しているわけではなく、これらの変更にはその必要もありません。検索結果において読み込みが速いページに対してよいランキングを与えることは素晴らしいことだと思います。AMPがユーザに対して早いウェブページを提供し、ユーザを幸せにするためにパブリッシャーが活用できる高品質な選択肢の1つとしての存在であり続けることは可能でしょう。</p>

				<p>しかし、パブリッシャーがGoogleの検索における独占的な地位を背景にコンテンツをGoogleの中に入れざるを得ない状況は避けるべきだと考えています。
				ウェブはGoogleではありませんし、Googleのみがウェブではないのですから。</p>

				<p>敬具</p>

				<p class='note'>For signatories please refer to the <a href='?lang=en' data-langswitch='en'>English version</a>.  Translations are provided for information but should not be considered normative.</p>

			</article>

			<article class='container' lang='es'>

				<p>Somos una comunidad de individuos con un gran interés en la salud y el desarrollo de la World Wide Web (“la Web”), y <strong>estamos profundamente preocupados</strong> con <a href='https://ampproject.org'>Accelerated Mobile Pages</a> (“AMP”), un proyecto de Google que supuestamente busca mejorar la experiencia de usuario en la Web.</p>

				<p>De hecho, AMP mantiene a los usuarios dentro del dominio de Google y desvía hacia fuera  el tráfico de otras páginas Web en beneficio de Google. Con una escala de mil millones de usuarios, AMP tiene la consecuencia de <strong>reforzar aún más el dominio que Google tiene en la Web</strong>.</p>

				<p>Entendemos el problema de que las páginas Web sean lentas para cargarse, en comparación a otras tecnologías propietarias como <a href='https://instantarticles.fb.com/'>Facebook Instant Articles</a> y <a href='https://developer.apple.com/news-publisher/'>Apple News</a>. Los editores (sobre todo los medios de comunicación) llevan tiempo enfrentándose a cuestiones difíciles e incentivos malos, que les ha llevado a malas decisiones y concesiones, resultando en una mala experiencia de usuario.</p>

				<p>Los motores de búsqueda se encuentran en una posición poderosa para influenciar en la solución al problema. Google ha decidido crear una posición destacada en la parte superior de sus resultados de búsqueda (para artículos) y un icono de un rayo (para todos los tipos de contenidos), que solo están disponibles para publicadores que utilicen una tecnología controlada por Google, servida por Google utilizando su infraestructura, en una URL de Google, y colocada dentro de una experiencia de usuario controlada por Google. (<a href='https://developers.google.com/search/docs/guides/about-amp'>fuente</a>)</p>

				<p>El formato AMP no es un problema en sí mismo, pero hay dos aspectos de su implementación que refuerzan la posición de Google como la plataforma estandarizada para contenidos, ya que Google busca incrementar la popularidad de AMP ante los creadores de contenido:</p>

				<ol>
					<li>Al contenido que utiliza AMP y se aloja en el dominio de Google se le concede una condición privilegiada en los resultados de búsqueda, incluyendo (para artículos de noticias) una posición por encima de todos los demás resultados.
					<li>Cuando un usuario navega desde Google a un contenido que Google ha recomendado, están, inconscientemente, quedándose en el entorno de Google.
				</ol>

				<p>Si el objetivo de Google con AMP es, efectivamente, mejorar la experiencia de usuario en la Web, recomendamos unos simples cambios que bastarían, a la vez que permitirían a la Web permanecer dinámica, competitiva y orientada a los consumidores:	</p>

				<ol>
					<li>En lugar de solamente ofrecer una posición privilegiada en los resultados de búsqueda a AMP, proporcionar los mismos beneficios a todas las páginas que alcancen un criterio de rendimiento objetivo y neutral, tal como el <a href='https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/metrics/speed-index'>speed index</a>. Los publicadores podrán entonces utilizar la solución técnica que deseen.</li>
					<li>No mostrar contenido de terceros dentro de una página de Google salvo que quede claro para el usuario que están mirando un producto de Google. Es perfectamente aceptable que Google lance un “lector de noticias”, pero no es aceptable mostrar una página que solo lleva la imagen corporativa de un tercero en lo que es realmente una URL de Google, ni exigir que un tercero utilice el alojamiento de Google para aparecer en los resultados de búsqueda.</li>
				</ol>

				<p>No queremos parar el desarrollo de AMP por parte de Google, y estos cambios no lo requieren. También aplaudimos a los motores de búsqueda que ofrecen una mejor posición en los resultados de búsqueda a páginas que carguen rápido. AMP puede permanecer como una más de un rango de tecnologías que dan a los editores opciones de alta calidad para servir páginas Web rápidamente y complaciendo a los usuarios.</p>

				<p>Sin embargo, los editores no deberían sentirse, por el dominio de Google, obligados a poner su contenido bajo el paraguas de Google. La Web no es Google, y no debería ser sólo Google.</p>

				<p>Cordialmente,</p>

				<p class='note'>Para ver las firmas, ver la <a href='?lang=en' data-langswitch='en'>versión en Inglés</a>.  
				<br />Las traducciones se proporcionan para información, pero no deben considerarse normativas.</p>

			</article>

			<article class='container' lang='ru'>

				<p>Мы – сообщество людей, в высшей степени заинтересованных в развитии и благосостоянии Всемирной паутины ("Web"), и мы <strong>глубоко обеспокоены</strong> проектом <a href='https://ampproject.org'>Accelerated Mobile Pages</a> (“AMP”) от компании Google, якобы нацеленным на улучшение пользовательского опыта в Интернете.</p>

				<p>Фактически AMP удерживает пользователей в домене Google, тем самым уводя трафик с других сайтов в пользу последнего. В масштабе миллионов пользователей это <strong>усиливает и без того растущее доминирование Google в Сети</strong>.</p>

				<p>Мы признаем проблему медленной загрузки веб-страниц относительно альтернативных проприетарных технологий, таких как <a href='https://instantarticles.fb.com/'>Facebook Instant Articles</a> и <a href='https://developer.apple.com/news-publisher/'>Apple News</a>. Создатели сайтов (особенно СМИ) уже давно сталкиваются со скудным выбором и недостаточным стимулом, что приводит к плохим технологическим решениям и компромиссам, и, в результате, к ужасному UX.</p>

				<p>Поисковые системы обладают достаточным влиянием, чтобы решить эту проблему. Однако, Google решили предоставить преимущественную позицию в верхней части выдачи (для статей) и иконку с молнией (для всех типов контента) для тех сайтов, которые используют технологию, контролируемую Google, работающую в инфрастуктуре Google, с URL в домене Google и с UX, управляемым Google.</p>

				<p>Формат AMP не является проблемой сам по себе. Но два аспекта его реализации усиливают позицию Google как де-факто стандартной платформы для всего контента, поскольу Google поощряет создателей сайтов к внедрению AMP: </p>

				<ol>
					<li>Контент, который "выбирает" путь AMP и соответствующий хостинг на домене Google, поощряется преимуществом в поисковом продвижении, включая (в случае новостных статей) позицию выше остальных результатов поиска.</li>
					<li>Когда пользователь переходит из поиска Google на страницу рекомендованного контента, он невольно остается внутри экосистемы Google.</li>
				</ol>

				<p>Если целью Google AMP действительно является улучшение пользовательского опыта в Интернете, мы предлагаем несколько простых изменений, которые послужат этой цели, и в то же время позволят Интернету оставаться динамичным, конкурентным и ориентированным на пользователей:</p>

				<ol>
					<li>Вместо предоставления преимущественной позиции в поисковой выдаче только AMP контенту, предоставить те же привелегии всем страницам, удовлетворяющим объективным, нейтральным критериям производительности, таким как <a href='https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/metrics/speed-index'>Speed Index</a>. Так владельцы сайтов смогут использовать любые технические решения по своему выбору.</li>
					<li>Не показывать внешний контент внутри экосистемы Google, кроме тех случаев, когда пользователям очевидно, что в данный момент они используют продукт Google. Запустить новостной агрегатор для Google вполне нормально, но неприемлемо выдавать страницу, содержащую собственный брендинг, в домене Google – так же, как и требовать от внешних страниц использовать хостинг Google, чтобы появиться в поисковой выдаче.</li>
				</ol>

				<p>Мы не хотим, чтобы Google прекратил разработку AMP, и перечисленные изменения не требуют этого. Мы также искренне поддерживаем поисковые системы в том, чтобы давать преимущество быстрым страницам. AMP может остаться одной из технологий, которые дают разработчикам качественные инструменты для быстрого создания веб страниц, приятных в использовании.</p>

				<p>Тем не менее, разработчики не должны быть вынуждены держать свой контент под крылом Google из-за доминирования последнего на поисковом рынке.<strong>Веб – это не Google, и не должен быть только Google.</strong></p>

				<p>С уважением,</p>

				<p class='note'>Для подписи, пожалуйста, перейдите на <a href='?lang=en' data-langswitch='en'>английскую версию</a>.  Перевод предоставлен для информации и не может считаться официальным документом.</p>

			</article>

			<article class='container' lang='pt-br'>

				<p>Nós somos uma comunidade de indivíduos que têm interesse significativo no desenvolvimento e na saúde da World Wide Web (“a Web”). <strong>Nós estamos profundamente preocupados</strong> sobre o Accelerated Mobile Pages (“AMP”), um projeto do Google que supostamente procura melhorar a experiência do usuário na Web.</p>

				<p>Na verdade, o AMP mantém os usuários no domínio do Google e desvia o tráfego de outros sites para benefício do Google. Em uma escala de bilhões de usuários, isso tem o efeito de <strong>reforçar ainda mais o domínio do Google na Web.</strong></p>

				<p>Reconhecemos o problema das páginas da Web serem lentas para carregar, em relação a tecnologias alternativas, como <a href='https://instantarticles.fb.com/'>Facebook Instant Articles</a> e <a href='https://developer.apple.com/news-publisher/'>Apple News</a>. Os editores (especialmente nos meios de comunicação) já enfrentaram escolhas difíceis e foram incentivados a tomar decisões ruins, que têm como consequência uma terrível experiência para os usuários.</p>

				<p>Os motores de busca estão numa posição poderosa para exercer influência que resolva esse problema. No entanto, o Google escolheu criar uma posição privilegiada na parte superior de seus resultados de busca (para artigos) e um ícone de "relâmpago" (para todos os tipos de conteúdo), que só são acessíveis para editores que usam a tecnologia controlada pelo Google, atendidos pelo mesmo a partir de suas infraestruturas, em um URL do Google e colocado dentro de uma experiência de usuário controlada pelo próprio Google. (<a href='https://developers.google.com/search/docs/guides/about-amp'>fonte</a>)</p>

				<p>O formato AMP em si não é um problema, mas dois aspectos de sua implementação reforçam a posição do Google como uma plataforma padrão para conteúdos, já que o Google busca impulsionar a incorporação do AMP por criadores de conteúdo:</p>

				<ol>
					<li>O conteúdo que "optar pelo" AMP e a hospedagem associada ao domínio do Google é concedido a promoção de pesquisa preferencial, incluindo, para artigos de notícias, uma posição acima de todos os outros resultados.</li>
					<li>Quando um usuário navega do Google para um conteúdo que o Google recomendou, eles ficam inconscientemente dentro do ecossistema do Google.</li>
				</ol>

				<p>Se o objetivo do Google com o AMP é realmente melhorar a experiência do usuário na Web, sugerimos algumas mudanças simples, permitindo que a Web permaneça dinâmica, competitiva e orientada para o consumidor:</p>

				<ol>
					<li>Em vez de conceder colocação privilegiada nos resultados de pesquisa apenas para o AMP, forneça as mesmas vantagens a todas as páginas que atendam a um critério de desempenho objetivo e neutro, como o <a href='https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/metrics/speed-index'>Speed Index</a>. Os editores podem usar qualquer solução técnica de sua escolha.</li>
					<li>Não exiba conteúdo de terceiros em uma página do Google, a menos que seja claro para o usuário que eles estão olhando para um produto do Google. É perfeitamente aceitável que o Google lance um "leitor de notícias", mas não é aceitável exibir uma página que contenha apenas branding de terceiros no que é realmente um URL do Google, nem exigir que terceiros usem o hospedagem do Google para aparecerem nos resultados da pesquisa.</li>
				</ol>

				<p>Nós não queremos que o Google cesse o desenvolvimento do AMP e essas mudanças não exigem isso. Também aplaudimos os motores de busca que dão preferência ao ranking das páginas de carregamento rápido. O AMP pode continuar sendo uma das mais diversas tecnologias que oferecem aos editores opções de alta qualidade para fornecer páginas da Web rápidas e fazer usuários felizes.</p>

				<p>No entanto, as editoras não devem ser compelidas pelo domínio de busca do Google para colocar seu conteúdo sob um guarda-chuva do Google. <strong>A Web não é o Google, e não deve ser apenas o Google.</strong></p>

				<p>Atenciosamente,</p>

				<p class='note'>For signatories please refer to the <a href='?lang=en' data-langswitch='en'>English version</a>.  Translations are provided for information but should not be considered normative.</p>
		
      </article>
    
			<article class='container' lang='de'>

				<p>Wir sind eine Gruppe von Einzelpersonen, die ein erhebliches Interesse an der Entwicklung und Gesundheit des World Wide
					Web („das Web“) haben, und <strong>wir sind zutiefst besorgt</strong> über <a href='https://ampproject.org'>Accelerated Mobile Pages</a> („AMP“), ein Google-Projekt, das angeblich darauf abzielt, das Nutzererlebnis des Webs
					zu verbessern.</p>

				<p>Tatsächlich hält AMP die Nutzer innerhalb der Google-Domain und leitet den Verkehr von anderen Websites zum Nutzen von
					Google ab. Mit Milliarden von Nutzern hat dies zur Folge, dass die Dominanz von Google im Web weiter verstärkt wird.</p>

				<p>Wir erkennen das Problem langsamer Ladezeiten von Webseiten im Vergleich zu alternativen, proprietären Technologien wie <a href='https://instantarticles.fb.com/'>Facebook Instant Articles</a> und <a href='https://developer.apple.com/news-publisher/'>Apple News</a> an. Verlage (vor allem in den Nachrichtenmedien) sind seit langem mit schwierigen Entscheidungen und schlechten
					Anreizen konfrontiert, die zu Fehlentscheidungen, Kompromissen und letztlich zu schrecklichen Nutzererlebnissen führen.</p>

				<p>Suchmaschinen sind in der Lage, Einfluss auszuüben, um dieses Problem zu lösen. Google hat sich jedoch dafür entschieden,
					eine Premium-Position an der Spitze ihrer Suchergebnisse (für Artikel) und ein „Blitz“-Symbol (für alle Arten von Inhalten)
					zu schaffen, die nur für Publisher zugänglich sind, die eine von Google gesteuerte Technologie verwenden, die von Google
					von ihrer Infrastruktur aus über eine Google-URL bedient wird und innerhalb eines von Google kontrollierten Nutzererlebnisses
					platziert wird. (<a href='https://developers.google.com/search/docs/guides/about-amp'>Quelle</a>)</p>

				<p>Das AMP-Format ist nicht an sich ein Problem, aber zwei Aspekte seiner Implementierung stärken die Position von Google
					als de facto Standardplattform für Inhalte, da Google versucht, die Akzeptanz von AMP bei den Content-Erstellern zu erhöhen:</p>

				<ol>
					<li>Publizisten, die sich für AMP und das damit verbundene Hosting ihrer Inhalte innerhalb der Google-Domain entscheiden, erhalten eine bevorzugte Hervorhebung in der Suche, einschließlich (für Nachrichtenartikel) einer Position vor allen anderen Ergebnissen.</li>
					<li>Wenn ein Nutzer von Google zu einem von Google empfohlenen Inhalt navigiert, verbleibt er unwissentlich im Ökosystem
						von Google.</li>
				</ol>

				<p>Wenn Googles Ziel mit AMP in der Tat darin besteht, das Nutzererlebnis im Web zu verbessern, dann schlagen wir einige
					einfache Änderungen vor, die dies tun würden, während das Web dennoch dynamisch, wettbewerbsfähig und verbraucherorientiert
					bleibt:
				</p>

				<ol>
					<li>Anstatt Premium-Platzierung in den Suchergebnissen nur für AMP zu gewähren, bieten Sie allen Seiten, die ein objektives,
						neutrales Leistungskriterium wie <a href='https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/metrics/speed-index'>Speed Index</a> erfüllen, die gleichen Vorteile. Die Verlage können dann jede technische Lösung ihrer Wahl nutzen.</li>
					<li>Zeigen Sie keine Inhalte von Drittanbietern auf einer Google-Seite an, es sei denn, dem Nutzer ist klar, dass er sich
						ein Google-Produkt ansieht. Es ist durchaus akzeptabel, dass Google einen „Newsreader“ auf den Markt bringt, aber es
						ist nicht akzeptabel, eine Seite anzuzeigen, die nur das Branding von Drittanbietern auf der eigentlichen Google-URL
						trägt, und auch nicht zu verlangen, dass Dritte das Hosting von Google nutzen, um in den Suchergebnissen zu erscheinen.</li>
				</ol>

				<p>Wir wollen die Entwicklung von AMP durch Google nicht stoppen, und diese Änderungen erfordern das nicht. Wir begrüßen
					auch Suchmaschinen, die Ranking-Präferenzen für schnell ladende Seiten vergeben. AMP kann eine von einer Reihe von Technologien
					bleiben, die Publishern qualitativ hochwertige Optionen für die schnelle Bereitstellung von Webseiten und die Zufriedenheit
					der Nutzer bieten.</p>

				<p>Verlage sollten jedoch nicht durch die Suchdominanz von Google gezwungen werden, ihre Inhalte unter ein Google-Dach zu
					stellen. Das Web ist nicht Google, und sollte nicht nur Google sein.</p>

				<p>Mit freundlichen Grüßen,</p>

				<p class='note'>
					Für die Unterzeichner verweisen wir auf die <a href='?lang=en' data-langswitch='en'>englische Version</a>. Übersetzungen dienen der Information, sind aber nicht als normativ anzusehen.</p>

			</article>

			<article class='container' lang='vi'>

				<p>Chúng tôi là một cộng đồng của những cá nhân có niềm quan tâm đáng kể đến sự phát triển của World Wide Web (“Web”), và <strong>chúng tôi rất lo ngại</strong> về <a href='https://ampproject.org'>Accelerated Mobile Pages</a> (“AMP”), một dự án của Google với mục đích cải thiện trải nghiệm của người dùng trên Web.</p>

				<p>Thực tế là, AMP gói gọn người dùng trong phạm vi của Google và chuyển hướng lưu lượng truy cập ra khỏi những trang web khác vì lợi ích của Google. Với quy mô hàng tỷ người dùng, điều này ảnh hưởng đến việc <strong>tăng cường sự thống trị của Google với thế giới Web</strong> trong tương lai.</p>

				<p>Chúng tôi nhận thức được rằng vấn đề của những trang Web trở nên chậm chạp, liên quan đến những công nghệ thay thế, độc quyền như <a href='https://instantarticles.fb.com/'>Facebook Instant Articles</a> và <a href='https://developer.apple.com/news-publisher/'>Apple News</a>. Những nhà xuất bản (nhất là trong mảng truyền thông) đã phải đối mặt với nhiều lựa chọn khó khăn, dẫn đến những quyết định và thoả hiệp xấu, và cuối cùng đem đến cho người dùng những trải nghiệm tồi tệ.</p>

				<p>Những công cụ tìm kiếm đang ở một vị thế rất mạnh để tận dụng sự ảnh hưởng để giải quyết vấn đề này. Tuy nhiên, Google đã chọn cách tạo ra vị trí ưu tiên ở đầu kết quả tìm kiếm của họ (cho những bài viết) và một biểu tượng “tia chớp” (cho tất cả các loại nội dung), chỉ dành riêng cho những nhà xuất bản có sử dụng công nghệ được kiểm soát bởi Google, cung cấp bởi Google từ cơ sở hạ tầng của họ, trên một URL của Google, và được đặt bên trong một trải nghiệm người dùng được kiểm soát bởi Google. (<a href='https://developers.google.com/search/docs/guides/about-amp'>nguồn</a>)</p>

				<p>Bản thân định dạng AMP không phải là vấn đề, mà là hai khía cạnh của việc triển khai nó khiến tăng cường vị thế của Google như là một nền tảng chuẩn cho nội dung, như Google đang cố gắng thu hút những nhà sáng tạo nội dung với AMP:</p>

				<ol>
				  <li>Nội dung được “tích hợp” với AMP và được lưu trữ liên kết trong phạm vi Google được hưởng ưu đãi quảng cáo tìm kiếm, bao gồm (cho những bài viết tin tức) một vị trí bên trên tất cả những kết quả tìm kiếm khác.</li>
				  <li>Khi một người dùng điều hướng từ Google đến một nội dung mà Google đã đề nghị, họ vẫn nằm trong hệ sinh thái của Google mà không hay biết.</li>
				</ol>

				<p>Nếu mục tiêu của Google với AMP là thực sự cải thiện trải nghiệm của người dùng trên Web, thì chúng tôi có một vài đề xuất thay đổi đơn giản có thể thực hiện được điều đó mà vẫn giữ cho Web linh động, cạnh tranh và hướng đến người dùng:</p>

				<ol>
				  <li>Thay vì ưu đãi vị trí ưu tiên trong kết quả tìm kiếm dành riêng cho AMP, cung cấp lợi ích tương tự cho tất cả những trang đạt được những tiêu chí khách quan về hiệu năng như <a href='https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/metrics/speed-index'>Speed Index</a>. Những nhà xuất bản sau đó có thể sử dụng bất kỳ giải pháp kỹ thuật nào mà họ muốn.</li>
				  <li>Không hiển thị nội dung bên thứ ba trong một trang Google trừ khi rõ ràng rằng người dùng đang xem một sản phẩm của Google. Hoàn toàn có thể chấp nhận nếu Google khởi chạy một “trình đọc tin tức”, nhưng không thể chấp nhận hiển thị một trang chỉ mang thương hiệu của bên thứ ba trên một URL thực chất là của Google, cũng như yêu cầu bên thứ ba sử dụng dịch vụ lưu trữ của Google để xuất hiện trong kết quả tìm kiếm.</li>
				</ol>

				<p>Chúng tôi không muốn ngăn cản Google phát triển AMP, và những thay đổi này không đòi hỏi điều đó. Chúng tôi cũng hoan nghênh những công cụ tìm kiếm ưu tiên thứ hạng cho những trang tải nhanh. AMP vẫn có thể là một trong những công nghệ đem đến cho nhà xuất bản những tuỳ chọn chất lượng cao để truyền tải trang Web nhanh hơn và làm cho người dùng hài lòng hơn.</p>

				<p>Tuy nhiên, những nhà xuất bản không nên bị ràng buộc bởi sự thống trị của Google trong mảng tìm kiếm để đưa nội dung của mình vào bên dưới cái bóng của Google. <strong>Web không phải là Google, và không nên chỉ có Google.</strong></p>

				<p>Trân trọng,</p>

				<p class='note'>Để ký tên vào bức thư này hãy xem <a href='?lang=en' data-langswitch='en'>bản tiếng Anh</a>. Những bản dịch được cung cấp để có thêm thông tin nhưng không nên được coi là quy chuẩn.</p>

			</article>

			<div class='container lang-switcher'>
				<h2>Available in:</h2>
				<ul>
					<li><a href='?lang=en' data-langswitch='en'>English</a></li>
					<li><a href='?lang=fr' data-langswitch='fr'>Français</a></li>
					<li><a href='?lang=es' data-langswitch='es'>Español</a></li>
					<li><a href='?lang=ja' data-langswitch='ja'>日本語</a></li>
					<li><a href='?lang=pt-br' data-langswitch='pt-br'>Português</a></li>
					<li><a href='?lang=de' data-langswitch='de'>Deutsch</a></li>
					<li><a href='?lang=ru' data-langswitch='ru'>Русский</a></li>
					<li><a href='?lang=vi' data-langswitch='vi'>Tiếng Việt</a></li>
					<li><a href='?lang=pl' data-langswitch='pl'>Polski</a></li>
				</ul>
			</div>

		</main>

		<script>
			const thisUrl = new URL(location.href);
			function changeLang(newLang) {
				const htmlEl = document.documentElement;
				if (htmlEl.getAttribute('lang') == newLang) return;
				if (document.querySelector('article[lang='+newLang+']')) {
					htmlEl.setAttribute('lang', newLang);
					thisUrl.searchParams.set('lang', newLang);
					history.replaceState({}, '', thisUrl.toString());
				}
			}
			Array.from(document.querySelectorAll('a[data-langswitch]')).forEach(el => {
				el.addEventListener('click', e => {
					changeLang(e.target.dataset.langswitch);
					e.target.blur();
					e.preventDefault();
				});
			});
			changeLang(thisUrl.searchParams.get('lang') || navigator.language);
		</script>

	</body>
</html>
